@font-face {
    font-family: "AKATAB REGULAR";
    src: url('If2QXTv_ZzSxGIO30LemWEOmt1bHqs4pgicOrg.ttf')
}

.parent h1, .parent h2, .parent h3{

    font-family: "AKATAB REGULAR"=;
    color: blueviolet;
    


}

